



.EmailValidatorMessage{
    margin-bottom:10px;
}

.EmailLabel{
    margin-left: 5px;
}


.EmailAddressInformationLabel {
    margin-left: 170px;
    margin-bottom:30px;
    margin-top:-30px;
    font-size:20px;
    
}

.forgotPasswordTitle{
    margin-left: -320px;
}

.forgotPasswordConfirmationTitle{
  margin-bottom:-30px;
  margin-left:-220px;
}

.EmailConfirmationLabel{
    margin-left:200px;
}



